$yellow: rgb(255, 217, 0);
@mixin boton {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  margin-right: 30px;
  font-size: 14px;
  padding: 5px 20px;
}
@mixin boton-hover {
  background-color: $yellow;
  border: none;
  font-weight: bold;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.white {
  color: white;
}
.yellow {
  color: rgb(255, 217, 0);
}
.padding {
  padding: 10vh 15vw 0 15vw;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)),
    url("./imágenes/background1.png");
  background-size: cover;
  background-position: center;
  .text {
    h1 {
      font-size: 28px;
    }
    hr {
      width: 20%;
      background-color: $yellow;
      height: 2px;
      opacity: 1;
    }
    p.white {
      font-size: 14px;
    }
    button {
      @include boton();
    }
    button:hover {
      @include boton-hover();
    }
  }
  .img {
    padding-left: 20%;
    img {
      width: 18vw;
    }
  }
}
.section-one {
  padding-bottom: 10vh;
  h3 {
    font-weight: bold;
  }
  hr {
    width: 20%;
    background-color: $yellow;
    height: 2px;
    opacity: 1;
  }
  .grey {
    color: gray;
  }
  button {
    @include boton;
    background-color: $yellow;
    border: none;
  }
}
.section-two {
  color: white;
  h5 {
    font-weight: bold;
  }
  hr {
    width: 18%;
    background-color: $yellow;
    height: 2px;
    opacity: 1;
  }
  &-col-one {
    padding-top: 15vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
      url("./imágenes/background2.png");
    background-size: cover;
  }
  &-col-two {
    padding-top: 15vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
      url("./imágenes/background3.png");
    background-size: cover;
  }
  &-col-three {
    padding-top: 15vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
      url("./imágenes/background4.png");
    background-size: cover;
  }
}
.section-three {
  .first-col {
    text-align: center;
    margin-bottom: 5vw;
    hr {
      width: 10vw;
      background-color: $yellow;
      height: 2px;
      opacity: 1;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .service {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5vw;

    .logo {
      width: 30%;
      padding: 3%;
      border: 2px solid $yellow;
      border-radius: 5px;
      img {
        width: 100%;
      }
    }
    .text {
      width: 65%;
      h6 {
        font-weight: bold;
      }
    }
  }
}
.section-four {
  background-color: RGB(44, 44, 44);
  .first-col {
    text-align: center;
    padding: 5vh 0;

    h2 {
      color: white;
    }
    hr {
      width: 10vw;
      background-color: $yellow;
      height: 2px;
      opacity: 1;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .images {
    padding: 0;
    img {
      width: 100%;
    }
  }
}
.section-five {
  padding-bottom: 10vh;
  img {
    width: 100%;
  }
  .second-col {
    h2 {
      font-weight: bold;
    }
    hr {
      width: 10vw;
      background-color: $yellow;
      height: 2px;
      opacity: 1;
    }
    button {
      @include boton();
      @include boton-hover();
      color: white;
    }
  }
}
.section-six {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
    url("./imágenes/background13.jpeg");
  background-position: center;
  background-size: cover;
  padding-bottom: 10vh;
  .price {
    text-align: center;
    hr {
      width: 20%;
      background-color: $yellow;
      height: 2px;
      opacity: 1;
      margin: 0 auto 0 auto;
    }
  }
}
.section-seven {
  padding-bottom: 10vh;
  .first-col {
    text-align: center;
    h2 {
      font-weight: bold;
    }
    hr {
      width: 10%;
      background-color: $yellow;
      height: 2px;
      opacity: 1;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .work {
    flex-direction: column;
    margin-top: 10vh;
    div {
      width: 70px;
      height: 70px;
      background-color: $yellow;
      border-radius: 50%;
    }
    h4 {
      margin-top: 0.5rem;
    }
    p {
      text-align: center;
    }
  }
}
.section-eight {
  background-color: RGB(44, 44, 44);
  padding-bottom: 10vh;
  .first-col {
    text-align: center;
    margin-bottom: 10vh;
    h2 {
      font-weight: bold;
    }
    hr {
      width: 10%;
      background-color: $yellow;
      height: 2px;
      opacity: 1;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .testimonial {
    text-align: center;
    color: white;
    .text {
      border: 1px solid white;
      padding: 3vh 4vh 10vh 4vh;
    }
    .person {
      position: relative;
      bottom: 9vh;
      h4 {
        margin-top: 0.5rem;
      }
    }
  }
}
.section-nine {
  background-color: RGB(23, 23, 23);
  padding-bottom: 10vh;
}
.section-eleven {
  padding-bottom: 10vh;
  .first-col {
    text-align: center;
    margin-bottom: 10vh;
    h2 {
      font-weight: bold;
    }
    hr {
      width: 10%;
      background-color: $yellow;
      height: 2px;
      opacity: 1;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .projects {
    img {
      width: 100%;
    }
    .text {
      padding-left: 1vw;
      padding-top: 3vh;
      .date {
        color: gray;
      }
      a {
        color: black;
      }
    }
  }
}
footer {
  padding-bottom: 10vh !important;
  background-color: #dfb725;
  color: white;
  button {
    @include boton();
  }
}

@media (max-width: 400px) {
  .padding {
    padding: 10vh 10vw 10vh 10vw;
  }
  header {
    .img {
      display: none;
    }
    button {
      margin-bottom: 2vh;
    }
  }
  .section-eight {
    .testimonial {
      .person {
        bottom: 6vh;
      }
    }
  }
  .section-nine {
    div {
      text-align: center;
    }
  }
  .section-eleven {
    .projects {
      margin-bottom: 10vh;
    }
  }
}